* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
.account__page {
  font-size: 14px;
  margin-top: 5px;
}

.account__page strong {
  text-decoration: underline;
}
