.matchList {
  background-color: rgb(189, 189, 189);
  width: 25%;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 84.45vh;
}

.matchedUser {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.matchedUser img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.matchedUser:hover {
  background-color: #e0e0e0;
}

.clicked {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .match__name {
    display: none;
  }

  .matchedUser {
    justify-content: center;
  }
}

@media (max-width: 500) {
  .matchedUser img {
    width: 50px;
    height: 50px;
  }
}
